.title{
    text-align: center;
}
.form{
    width:25%;
    margin:0 auto;
    font-family: "Glacial Indifference"
}
button{
    font-family: "Glacial Indifference"
}
.loading{
   width:50%;
   margin:0 auto;
   text-align:center;
}
.tweets{
    width:80%;
    margin: 0 auto;
}